.search-input{
    position: relative;
}

.search-input .inp{
    width: 100%;
    height: 30px;
    border-radius: 15px;
    padding-left: 15px;
    background: #f2f2f2;
}

.search-input .clear{
    position: absolute;
    top: 0;
    right: 15px;
    line-height: 30px;
    color: #bababa;
}