*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

input{
    border: none;
    background: none;
}

body{
    font-size: 14px;
    color: #666;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4{
    font-weight: normal;
    font-size: 14px;
}

li{
    list-style: none;
}

button{
    appearance: none;
    background: none;
    border: none;
}